.finalQuestionContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eff9ff;
    background-color: #357ecf;
}

.finalQuestionContentContainer {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.finalQuestionCategoryHeader {
    font-size: 32px;
}

.finalQuestionCategory {
    font-size: 80px;
    font-weight: bold;
}

.finalQuestionText {
    font-weight: bold;
    font-size: 80px;
}

.finalQuestionTimeLeft {
    font-size: 32px;
    font-weight: bold;
}

.finalQuestionPlayButton {
    font-size: 100px;
    cursor: pointer;
    padding: 5px;
    margin: 30px;
    color: #eff9ff;
}

.finalQuestionPlayersContainer {
    display: flex;
}

.finalQuestionShowAnswerButton {
    font-weight: bold;
    padding: 20px;
    color: #eff9ff;
    font-weight: bolder;
    font-size: 40px;
    background-color: #9e6ec3;
    cursor: pointer;
    border: 5px solid #eff9ff;
    border-radius: 15px;
    margin-top: 20px;
}

.finalQuestionShowAnswerButton:hover {
    background: #603d7b;
}

.finalQuestionCorrectnessButtonsContainer {
    display: flex;
    justify-content: space-around;
}
.finalQuestionCorrectButton {
    font-size: 72px;
    cursor: pointer;
    padding: 5px;
}

.finalQuestionIncorrectButton{
    font-size: 72px;
    cursor: pointer;
    padding: 5px;
}

.finalQuestionPlayerAnswerContainer {
    margin: 40px
}

.finalQuestionPlayerName {
    font-size: 40px;
    font-weight: bold;
}

.finalQuestionPlayerScore {
    font-size: 30px;
    font-weight: bold;
}

.finalQuestionCurrency {
    font-size: 30px;
    margin-left: 10px;
}

.finalQuestionPlayerAnswerHeader {
    font-size: 30px;
    margin-top: 20px;
}

.finalQuestionPlayerAnswer {
    font-size: 30px;
    font-weight: bold;
}

.finalQuestionPlayerBetAmount {
    font-size: 30px;
    font-weight: bold;
}