.colorBackground {
    background-color: #357ecf;
    width: 100vw;
    height: 100vh;
}

.questionOpenForAnswers {
    background-color: #459e4b;
}

.fullQuestion {
    width: 100vw;
    height: 100vh;
    font-size: 72px;
    font-weight: 900;
    color: #eff9ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;

    position: fixed;
    top: 0;
    z-index: 3;
}

.imageQuestionType {
    justify-content: flex-start;
    padding-top: 3vh;
}

.questionImage {
    height: 500px;
    border-radius: 10px;
}

.questionSound {
    margin-top: 30px;
}

.bottomPanel {
    cursor: default;
    position: fixed;
    bottom :0;
    margin: 20px auto;
    width: 100%;

    font-size: 48px;
    font-weight: bold;
    color: #eff9ff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.playQuestionButton {
    font-size: 100px;
    cursor: pointer;
    padding: 5px;
    margin: 30px
}

.answeringPlayerName {
    margin-left: 15px;
    color: #ffa436;
}

.isAnswerCorrectContainer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.isAnswerCorrect {
    margin-right: 20px;
}

.playerAnswerButton {
    font-size: 72px;
    cursor: pointer;
    padding: 0 10px;
    margin-right: 20px;
}

.playerAnswerButton:hover {
    color: #beccda;
}

.homeButton {
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #eff9ff;
    background: #9e6ec3;
    cursor: pointer;
    margin-bottom: 30px;

    border: 2px solid #eff9ff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px 10px 5px rgba(11,21,45,0.3);
}

.homeButton:hover {
    background: #603d7b;
}