.gamePlayerName {
    font-size: 30px;
    font-weight: 900;
    cursor: default;
    display: flex;
    color: #222;
    justify-content: center
}

.gamePlayerScore {
    font-size: 30px;
    font-weight: 900;
    cursor: default;
    text-align: center;
}

.playersContainer {
    display: flex;
    justify-content: space-around;
    width: 1500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gamePlayerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamePlayerImage {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.gameScoreContainer {
    display: flex;
    color: #222;
    justify-content: center;
    align-items: center;
}

.gamePlayerCurrency {
    color: #222;
    font-size: 30px;
    margin-left: 10px;
}
