.lobbyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #9e6ec3;
    color:  #eff9ff;
    font-size: 24px;
}

.lobbyContentContainer {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournamentIdInfo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tournamentId {
    font-weight: 900;
    color: #9e6ec3;;
}

.waitingForPlayers {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
}

.lobbyLabel {
    margin-bottom: 10px;
}

.playersList {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:  flex-start;
    max-height: 240px;
    width: 100%;
}

.lobbyPlayerContainer {
    margin-bottom: 5px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.lobbyPlayerAvatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.lobbyPlayerName {
    font-weight: bold;
}