.lobbyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    font-size: 24px;
}

.tournamentIdInfo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tournamentId {
    font-weight: 900;
    color: navy;
}

.waitingForPlayers {
    margin-bottom: 10px;
}

.lobbyLabel {
    margin-bottom: 10px;
}

.playersList {
    margin-bottom: 10px;
}

.lobbyPlayerContainer {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.lobbyPlayerAvatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.lobbyPlayerName {
    font-weight: bold;
}